cudatoolkit==10.1.243
six==1.13.0
mkl_random==1.1.0
numpy==1.16.6
pycparser==2.20
mkl_service==2.3.0
cffi==1.14.0
xz==5.2.5
intel-openmp==2020.1
pillow==6.2.1
mkl_fft==1.0.15
torchvision==0.5.0
mkl==2020.1
pytorch==1.4.0
typing==3.7.4.1
olefile==0.46
future==0.18.2
ninja==1.9.0
numpy-base==1.16.6
